Plug 'https://github.com/andymass/vim-matchup'
Plug 'https://github.com/preservim/nerdtree'
Plug 'https://github.com/machakann/vim-highlightedyank'

set surround
set relativenumber
set number
set sneak
set matchit
set incsearch

set ignorecase
set smartcase

set hlsearch

let mapleader=" "
set easymotion

map \ <Plug>(easymotion-lineforward)
map r <Plug>(easymotion-bd-f)

sethandler <C-;> a:vim
sethandler <C-S-;> a:vim
sethandler <C-B> a:ide
sethandler <C-D> a:vim
sethandler <C-H> a:ide
sethandler <C-L> a:ide
sethandler <C-O> a:vim
sethandler <C-P> a:ide
sethandler <C-R> a:vim
sethandler <C-S> a:ide
sethandler <C-U> a:vim
sethandler <C-X> a:ide
sethandler <C-\> a:ide
